body {
  text-align: center;
  font-family: 'Crete Round', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 40%;
  justify-content: center;
  padding-right: 5%;
}

footer {
  margin-bottom: 32px;
}

img {
  object-fit: contain;
}

h1 {
  padding: 0;
  margin: 0;
}

h3 {
  margin: 0 8px;
  font-size: 30px;
}

h2 {
  margin: 12px 12px;
  font-size: 30px;
}

h4 {
  margin: 0 8px;
  font-size: 20px;
  font-weight: 100;
}

p {
  margin: 0;
}

.dflex {
  display: flex;
}

.spacebetween {
  justify-content: space-between;
  width: 100%;
}

.flexcol {
  flex-direction: column;
}

.dgrid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 80%;
}

.acenter {
  align-items: center;
}

.jcenter {
  justify-content: center;
}

.width450px {
  max-width: 450px;
}

.noDiv {
  padding: 0;
  margin: 0;
}

.songelementcontainer {
  align-items: center;
  height: 530px;
}

.spotifyicon {
  width: 64px;
  margin: 0 10%;
}

.likebutton {
  height: 24px;
  margin: 0 8px;
}

.spanline1 {
  background-color: #001f3f;
  height: 2px;
  width: 60%;
  margin: 32px 0;
}

.popupwindow {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  border: 2px solid black;
  padding: 32px;
  background-color: rgba(255, 255, 255, 0.5); /* Transparent background */
  backdrop-filter: blur(8px); /* Apply blur effect */
  overflow-y: hidden;
}

.closepopup {
  position: absolute;
  right: 128px;
}

.overflowauto {
  height: 70px;
  overflow: auto;
  margin: 12px;
  border: 2px solid black;
  width: 95%;
}

.commentscontainer {
  width: 100%;
}

.popuplittle {
  background-color: white;
  width: 85%;
  height: 85%;
  padding: 24px;
}

.likescontainer {
  margin: 16px;
}

.seeMoreButtonContainer {
  width: 50%;
}

.seemore {
  width: 100%;
}

.buttonSeeMore {
  width: 50%;
  height: 36px;
}
