body {
  text-align: center;
  font-family: 'Crete Round', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: 32px 0;
}

img {
  object-fit: contain;
}

h3 {
  margin: 0 8px;
  font-size: 30px;
}

h2 {
  margin: 12px 12px;
  font-size: 30px;
}

h4,
h5 {
  margin: 0 5px;
  font-size: 30px;
}

p {
  margin: 0;
}

.dflex {
  display: flex;
}

.flexcol {
  flex-direction: column;
}

.dgrid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.songelementcontainer {
  align-items: center;
  height: 530px;
}

.spotifyicon {
  width: 64px;
}

.likebutton {
  height: 24px;
  margin: 0 8px;
}
